body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;  
  color: #e0e0e0;  
}

.homepage-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #121212;
}

.header {
  background-color: #1f1f1f;  
  color: #e0e0e0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
}

.nav a {
  color: #e0e0e0;
  margin: 0 10px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}


.hero-section {
  background-color: #1e1e1e;  
  padding: 40px 20px;
  text-align: center;
}

.hero-section h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #e0e0e0;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #cfcfcf;
}

.cta-button {
  padding: 10px 20px;
  background-color: #007bff;  
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.cta-button:hover {
  background-color: #0056b3;  
}


.features-section {
  padding: 40px 20px;
  background-color: #1a1a1a;  
  text-align: center;
}

.features-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature {
  max-width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #2a2a2a;  
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);  
}

.feature h3 {
  font-size: 1.5rem;
  color: #e0e0e0;
}

.feature p {
  font-size: 1rem;
  color: #b0b0b0; 
}

.cta-section {
  padding: 40px 20px;
  background-color: #1f1f1f;
  text-align: center;
  color: #e0e0e0;
}

.cta-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.cta-section a {
  background-color: #007bff;
  color: white;
}

.cta-section a:hover {
  background-color: #0056b3;
}

.footer {
  background-color: #1f1f1f;
  color: #e0e0e0;
  text-align: center;
  padding: 10px;
}

/* Responsive  */
@media (max-width: 768px) {
  .hero-section h2 {
    font-size: 2rem;
  }

  .features-list {
    flex-direction: column;
  }

  .feature {
    max-width: 100%;
  }

  .cta-section h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .hero-section h2 {
    font-size: 1.5rem;
  }

  .cta-section h2 {
    font-size: 1.2rem;
  }

  .cta-button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}